* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f5c494;
   
}

.container {
    max-width: 3000px;
    margin: auto;
}
.container-form{
    max-width: 1300px;
    
}
.form-primary{
    margin-left: 52px;
    line-height: 2.5em;
    color: #272626;
    font-size: 15px;
}
.form-content .form-name{
    margin-left: 52px;
    margin-bottom: 15px;
    line-height: 30px;
}
.form-content .form-messages{
    margin-left: 52px;
    margin-bottom: 25px;
    resize: both;
    overflow: auto;
    line-height: 30px;
    

}
.form-content .form-name input{
    width: 100%;
    padding: 10px;
    
}
.form-content .form-messages input{
    width: 100%;
    padding-bottom: 150px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    

}

.form-content button {
    background-color: #333;
    display: block;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 52px;
    margin-bottom: 20px;
    width: 8%;
}
.primary-text {
   line-height: 3.0em;
    color: #f5c494;
    margin-left: 52px;
    font-size: 25px;
}

#navbar {
    background-color: #333;
    color: #fff;
    height: 75px;
    padding-top: 25px;
    
}
#navbar h1 {
    float: left;
    padding-left: 70px;
   
}

#navbar ul {
    float: right;
    list-style: none;    
}

#navbar ul li {
    float: left;
    margin-top: 5px;
    margin-right: 50px;
}

#navbar ul a  {
    padding: 15px;
}

#navbar ul a:hover {
    background-color: rgb(89, 89, 89);
    color: #f5c494;
}

#features {
    text-align: center;
    
}
.box {
    max-height: 220px;
    float: left;
    background-color: #333;
    color: white;
    width: 33.33%;
    padding: 50px;  
}
.box i {
    font-size: 50px;
    margin-bottom: 10px;
}
.box p{
    margin-top: 30px;
    
}