* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f7c08a;
   
}

.container {
    max-width: 3000px;
    margin: auto;
}

.primary-text {
    color: #f7c08a;
    line-height: 3.0em;
}

.primary-bg {
    background-color: #f7c08a !important;
}

.btn {
    font-size: 18px;
    background: #333;
    padding: 15px;
    border-radius: 5px;    
}


.btn-light {
    background: #f4f4f4;
    color: #333;
}

.clear {
    clear: both;
}


/* NAVBAR */
#navbar {
    background-color: #333;
    color: #fff;
    height: 75px;
    padding-top: 25px;
    
}
#navbar h1 {
    float: left;
    padding-left: 70px;
    font-size: 24px;
}

#navbar ul {
    float: right;
    list-style: none;    
}

#navbar ul li {
    float: left;
    margin-top: 5px;
    margin-right: 50px;
}

#navbar ul a  {
    padding: 15px;
}

#navbar ul a:hover {
    background-color: rgb(89, 89, 89);
    color: #f7c08a;
}

/* Showcase */
#showcase {
    background: url(./../img/showcase.jpg) no-repeat center center/cover;
    height: 400px;
}

#showcase p {
    margin-bottom: 10px;
    padding-bottom:10px;
}

.showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 120px;
    line-height: 2.2em;
}

.showcase-content a:hover {
    text-decoration: none;
    color: #fff;
}

/* home-info */
#home-info {
    height: 300px;
}

#home-info .info-img {   
    background: url(./../img/photo-1.jpg) no-repeat center center/cover; 
    height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content {    
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 40px;

    background: #333;
    color: white;
    text-align: center;
}

#home-info h2 {
    padding: 10px;
}

#home-info p {
    margin-bottom: 50px;
}
#home-info .info-content a:hover{
    text-decoration: underline;
    color: #333;
}

/* FEatures */
#features {
    text-align: center;
}

.box {
    width: 33.3%;
    float: left;
    padding: 50px;
    background: #f5ecec;
    color: #333;
}

.box i {
    font-size: 50px;
}

/* FOOTER */
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    width: 100%;

    padding: 20px;
}


/* INFO-LEFT */
#about-info {
    padding: 20px;
    text-align: justify;
    background: #ece9e9;
}

#about-info .info-left {
    width: 50%;
    float: left;
}

#about-info .info-right {
    width: 50%;
    float: left;
}

#about-info .info-right img {
    width: 60%;    
    border-radius: 50%;
    margin: auto;
    display: block;
}

/* TESTIMONIALS */
#testimonials {
    height: 500px;
    background: url(./../img/test-bg.jpg) no-repeat center center/cover;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#testimonials .testimonial {
    padding: 20px;
    height: 150px;
    margin: 0 15px 20px 15px;
    border-radius: 5px;
    opacity: 0.8;
}

#testimonials .testimonial img {
    float: left;
    width: 100px;
    border-radius: 50%;
}





